---
# tasks file for roles/frontned
name: Setup Frontend
hosts: all
become: true
tasks:
  - name: Install Nginx and Setup Frontend
    ansible.builtin.yum:
    - name: nginx
      state: latest
    
    - name: Remove Default Web Content
      ansible.builtin.file:
        path: "/usr/share/nginx/html/"
        state: absent
      
    - name: Create Web Content Directory
      ansible.builtin.file:
        path: "/usr/share/nginx/html/"
        state: directory
        mode: '0755'
    
    - name: Download Frontend Artifacts
      ansible.builtin.unarchive:
        src: "https://roboshop-artifacts.s3.amazonaws.com/{{ component }}.zip"
        dest: "/usr/share/nginx/html/"
        remote_src: yes
    
    - name: Create Reverse Proxy Configuration
      ansible.builtin.template:
        src: "roboshop.conf"
        dest: "/etc/nginx/default.d/roboshop.conf"

    - name: Enable & Restart Nginx Service
      ansible.builtin.service:
        name: nginx
        state: restarted
        enabled: true