---
# tasks file for mongodb

- name: Setup MongoDB
  hosts: all
  become: true
  tasks:
    - name: Copy MongoDB Repo file
      ansible.builtin.copy:
        src: "mongodb.repo"
        dest: "/etc/yum.repos.d/mongodb.repo"

    - name: Install MongoDB Server
      ansible.builtin.yum:
        name: mongodb-org
        state: present

    - name: Update MongoDB Listen Address
      ansible.builtin.lineinfile:
        path: "/etc/mongod.conf"
        regexp: "^#?bind_ip = "
        line: "bind_ip = 0.0.0.0"
    
    - name: Start MongoDB Service
      ansible.builtin.service:
        name: mongod
        state: restarted
        enabled: true
